<!-- 
<div class="container top">
        <div class="row">
                <div class="col">
                        <form class="example-form">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Country Name 1</mat-label>
                                  <input matInput placeholder="Morocco">
                                 </mat-form-field>
                        </form>
                </div>
                <div class="col">
                        <form class="example-form">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Country Name 2</mat-label>
                                  <input matInput placeholder="Algeria">
                                 </mat-form-field>
                        </form>
                </div>
                <div class="col">
                        <button mat-stroked-button>compare</button>
                </div>
        </div> -->
        
     <!--    <div class="chart-container" style="display: block">
                <canvas baseChart 
                        [datasets]="chartData"
                        [labels]="chartLabels"
                        [options]="chartOptions"
                        [legend]="chartLegend"
                        [chartType]="chartType">
                </canvas>
        </div> -->
   
<!-- </div> -->

<div class="container">
        <form [formGroup]="formGroup">
                        <mat-form-field class="example-full-width">
                                        <mat-label>Country Name 1</mat-label>
                                        <input matInput placeholder="Morocco" formControlName="country1">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                                        <mat-label>Country Name 2</mat-label>
                                        <input matInput placeholder="Algeria" formControlName="country2">
                        </mat-form-field>
                <button type="submit" [disabled]="!formGroup.valid" (click)="onSubmit()" mat-stroked-button>compare</button>
                
        </form>

        <div class="chart-container" style="display: block">
                        <canvas baseChart 
                                [datasets]="chartData"
                                [labels]="chartLabels"
                                [options]="chartOptions"
                                [legend]="chartLegend"
                                [chartType]="chartType">
                        </canvas>
        </div>


</div>

