
<div class="container">
        <form [formGroup]="formGroup">
                        <mat-form-field class="example-full-width">
                                        <mat-label>Country Name 1</mat-label>
                                        <input matInput placeholder="Morocco" formControlName="country1">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                                        <mat-label>Country Name 2</mat-label>
                                        <input matInput placeholder="Algeria" formControlName="country2">
                        </mat-form-field>
                <button type="submit" [disabled]="!formGroup.valid" (click)="onSubmit()" mat-stroked-button>compare</button>
                
        </form>

        <div class="chart-container" style="display: block">
                        <canvas baseChart 
                                [datasets]="chartDataConfirmed"
                                [labels]="chartLabels"
                                [options]="chartOptions"
                                [legend]="chartLegend"
                                [chartType]="chartType">
                        </canvas>
        </div>

        <div class="chart-container" style="display: block">
                <canvas baseChart 
                        [datasets]="chartDataDeath"
                        [labels]="chartLabels"
                        [options]="chartOptions"
                        [legend]="chartLegend"
                        [chartType]="chartType">
                </canvas>
        </div>
        <div class="chart-container" style="display: block">
                <canvas baseChart 
                        [datasets]="chartDataRecovered"
                        [labels]="chartLabels"
                        [options]="chartOptions"
                        [legend]="chartLegend"
                        [chartType]="chartType">
                </canvas>
        </div>


</div>

