
<div class="container top">
        <div class="row">
                <div class="col">
                        <form class="example-form">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Country Name 1</mat-label>
                                  <input matInput placeholder="Morocco">
                                 </mat-form-field>
                        </form>
                </div>
                <div class="col">
                        <form class="example-form">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Country Name 2</mat-label>
                                  <input matInput placeholder="Algeria">
                                 </mat-form-field>
                        </form>
                </div>
                <div class="col">
                        <button mat-stroked-button>compare</button>
                </div>
        </div>

   
</div>