
<!--<div >-->
<!--    <img class="image"  [src]=image >-->
<!--</div>-->
<!--&lt;!&ndash;Navbar&ndash;&gt;-->
<!--<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5 fixed">-->

<!--    &lt;!&ndash; Navbar brand &ndash;&gt;-->
<!--    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>-->

<!--    &lt;!&ndash; Collapsible content &ndash;&gt;-->
<!--    <links>-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link waves-light" mdbWavesEffect>Features</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>-->
<!--            </li>-->

<!--            &lt;!&ndash; Dropdown &ndash;&gt;-->
<!--            <li class="nav-item dropdown" dropdown>-->
<!--                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>-->
<!--                Basic dropdown<span class="caret"></span></a>-->
<!--                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">-->
<!--                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>-->
<!--                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>-->
<!--                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>-->
<!--                    <div class="divider dropdown-divider"></div>-->
<!--                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>-->
<!--                </div>-->
<!--            </li>-->

<!--        </ul>-->
<!--        &lt;!&ndash; Links &ndash;&gt;-->

<!--&lt;!&ndash; Search form &ndash;&gt;-->
<!--        <form class="form-inline waves-light" mdbWavesEffect>-->
<!--            <div class="md-form my-0">-->
<!--                <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
<!--            </div>-->
<!--        </form>-->
<!--    </links>-->
<!--    &lt;!&ndash; Collapsible content &ndash;&gt;-->

<!--</mdb-navbar>-->
<!--&lt;!&ndash;/.Navbar&ndash;&gt;-->
<!--&lt;!&ndash; <app-visualisation></app-visualisation> &ndash;&gt;-->
<!--<app-comparaison></app-comparaison>-->
<!--<app-graphe-visualisation></app-graphe-visualisation>-->
<!--&lt;!&ndash;<app-comparaison></app-comparaison>&ndash;&gt;-->
<app-acceuil-compo></app-acceuil-compo>
<div >
    <img class="image"  [src]=image >
</div>

<div class="navBar">
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>CORONASTAT</h1>
            </div>
                <ul class="navigation">
                    <a href=""><li>Info</li></a>
                    <a href=""><li>Visualisations</li></a>
                    <a href=""><li>Clustering</li></a>
                    <a href=""><li>Sentiment analytics</li></a>
                </ul>
            
        </div>
    </div>
</div>


<app-visualisation></app-visualisation>
